<!-- HEADER -->
<mat-toolbar class="header">
  <span class="title">Cafe Management</span>
  <span class="spacer"></span>

  <button mat-button class="sign-button" (click)="logOut()">Logout</button>
</mat-toolbar>

<!-- LAYOUT PRINCIPAL : Sidebar + Contenu -->
<div class="main-layout">
  <!-- SIDEBAR (Dashboard) -->
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" class="sidebar" opened>
      <h3 class="sidebar-title">
        Bienvenu "{{ username }}" dans le Dashboard !
      </h3>
      <ul class="sidebar-list">
        <li>
          <button
            mat-button
            class="sidebar-button"
            (click)="goToToDoList()"
            style="margin-left: -17px"
          >
            My To Do List
          </button>
        </li>
        <li>
          <button
            mat-button
            class="sidebar-button"
            (click)="goToUsersManagement()"
          >
            Gestion des utilisateurs
          </button>
        </li>
        <li>
          <button
            mat-button
            class="sidebar-button"
            (click)="goToCookiesGame()"
            style="margin-left: -17px"
          >
            Cookies Game
          </button>
        </li>
      </ul>
    </mat-sidenav>

    <!-- CONTENU PRINCIPAL -->
    <mat-sidenav-content class="content">
      <h1>Bienvenue dans notre Café</h1>
      <p>Dégustez les meilleurs cafés dans un cadre chaleureux et convivial.</p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<div id="myModal" class="modal" *ngIf="showPopup">
  <div class="modal-content">
    <span class="close" (click)="closePopup()">&times;</span>
    <h2 class="modal-title">Accès restreint</h2>
    <p class="modal-message">
      Cet accès est réservé uniquement aux utilisateurs ayant le rôle
      <b>admin</b>.
    </p>
    <button class="modal-button" (click)="closePopup()">OK</button>
  </div>
</div>

<!-- FOOTER -->
<mat-toolbar class="footer">
  <span>&copy; 2024 Cafe Management - Tous droits réservés</span>
</mat-toolbar>
